<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password – AcadiaNET</title>
  <link rel="stylesheet" href="{% static 'login/index.css' %}">
</head>

<body>

  <div class="login-container">
      <img src="{% static 'login/acadiaNETlogo.png' %}" alt="AcadiaNET Logo" class="logo">

    <h2>Reset Your Password</h2>

    <p class="info-text">
      Enter your email and we will send you a password reset link.
    </p>

    <form id="resetForm">
      <input type="email" id="email" placeholder="Enter your email" required>
      <button type="submit">Send Reset Link</button>

      <p class="back-to-login">
        <a href="{% url 'index' %}">← Back to Login</a>
      </p>
    </form>
  </div>

  
<script src="script-password-reset.js"></script>
  
</body>

</html>
