<!DOCTYPE html>
<html>
 {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> AcadiaNET </title>

    <nav>
  <ul>
    <li><a href="login.html">Login</a></li>
    <li><a href="forgetpass.html">Forgot Password</a></li>
    <li><a href="index.html">Home</a></li>
  </ul>
</nav>


    <link rel="stylesheet" href="{% static 'login/index.css' %}">
    <script type="text/javascript" src="{% static 'login/login.js' %}" defer=""></script>
  </head>

  <body>
    <div class="login-container">
      <img src="{% static 'login/acadiaNETlogo.png' %}" alt="AcadiaNET Logo" class="logo">

      <h2>Welcome to AcadiaNET</h2>
      <form action="" method="POST" class="login-form">
        {% csrf_token %}
        {{form.username}}
        {{form.password}}
        <button type="submit">Login</button>
        
        <label style="display: block; text-align: left; margin-top: 10px; font-size: 14px; color: #555;">
     <input type="checkbox" checked="checked" name="remember" style="width: auto; margin-right: 5px; display: inline-block;"> Remember me
      </label>
        <p class="forgot-password" style="text-align: right; margin-top: -15px;" >
          <a href="{% url 'forgetpass' %}">Forgot Password?</a>
          
  </p>
          <p class="signup-link">Don’t have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
      </form>
    </div>

    <script src="{% static 'login/index.js' %}"></script>

  </body>

</html>