<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/index.css' %}">
    <title>Verify Email</title>
</head>
<body>
    <h2>Enter the verification code sent to your email</h2>
    
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form method="post" class="Verify">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">  
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
