<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'login/index.css' %}">
    <title>Verify Email</title>
    <link rel="stylesheet" href="{% static 'login/index.css' %}">
</head>
<body>
    <h2>Enter the verfication code sent to your email<br></h2>
   <form method="post" class="code">
    {% csrf_token %}
    {{form}}
    </form>
</body>
</html>