<!DOCTYPE html>
<html>
    {% load static %}
<head>
<meta charset="UTF-8" />    
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>AcadiaNET Compsci Hub</title>
<link rel="stylesheet" href="{% static 'forum.css' %}">
</head>

<body class="forum-page">


    <div class="forum-container">
        <header class="forum-header">
        <h1>Announcements</h1>
        </header>

            <nav class="forum-nav">
                <button class="tab-button active">Forum</button>
                <button class="tab-button">Don't track</button>
                <button class="tab-button">Unread posts</button>
                <button class="button-primary">Finish update</button>
</nav>

        <section class="forum-description">
            <p>General news and announcements</p>
        </section>

        <section class="forum-search">
            <span class="search-icon">[i]</span>
            <input type="text" placeholder="Search forums">
            <button class="search-btn">Search</button>
        </section>

        <section class="forum-table">
        <table>
            <thead>
                <tr>
                    <th class= "discussion-col"> Discussion</th>
                    <th class="started-by-col"> Started by</th>
                    <th class="last-post-col">Last post</th>
                    <th class="replies-col">Replies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="discussion-col">
                        <span>[*]</span>
                        <a href="#"><strong>Computer Final Exams</strong></a>
                    </td>
                    <td>mod</td>
                    <td>15 Dec 2024</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class="discussion-col">
                        <span>[*]</span>
                        <a href="#">Upcoming Events </a>
                    </td>
                    <td>mod</td>
                    <td>14 Dec 2024</td>
                    <td>3</td>
                </tr>
                
                <tr>
                    <td class="discussion-col">
                        <span>[*]</span>
                        <a href="#"><strong>LAN PARTY Tomorrow</strong></a>
                    </td>
                    <td>mod</td>
                    <td>9 Nov 2025</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        </section>


    </div>

</body>
</html>
