<!DOCTYPE html>
<html>
    {% load static %}
<head>
<meta charset="UTF-8" />    
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>AcadiaNET Private Messages</title>
<link rel="stylesheet" href="{% static 'chat.css' %}">
</head>

<body>
{% if user.is_authenticated %}
<div class= "chat-container">
    <aside class="side-bar">
        <div class="profile-info">
                    <h1 class="page-title">Messages</h1>
                </div>
                <button class="new-chat-btn">+</button>
            </header>
    </aside>
</div>
{% else %}
<p>You are not logged in.</p>
{% endif %}
</body>
</html>
